<h2> Routing </h2>

<!-- By call directly using the selector of the child component

<app-about>   </app-about>
<app-dept> </app-dept>
<app-lib> </app-lib>

-->
<div class="container-fluid">

<div class="row">
  <div class="col-xs-6" style="background-color:blueviolet;">
                <router-outlet>

                          <ul>
                          <!--  <li><a href="https://www.facebook.com/"> FB </a></li> -->
                          <li><a routerLink="url1"> About </a></li>
                          <li><a routerLink="url2">  Department </a></li>
                          <li><a routerLink="url3"> Library </a></li>
                            
                          </ul>

                </router-outlet>

</div>




</div>

</div>


